[Desktop Entry]
Name=Peregrine
Comment=Vim-oriented WebKit Browser
Exec=peregrine %u
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=org.peregrine.browser
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
